<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>New product</title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
<style>
    .pf-element .btn-danger {
  margin-top: 20px;
        margin-bottom: 10px;
}
</style>

</head>
<body>
    <div class="container my-5">
        <h1 class="text-center">New Product Form</h1>
        <form method="post" action="">
            <div class="row my-3">
                <div class="col-md-6 mx-auto">
                    <div class="card">
                        <div class="card-header">
                            <h5 class="card-title">Product Details</h5>
                        </div>
                        <div class="card-body">
                            <div class="mb-3">
                                <label for="product_name" class="form-label">Name</label>
                                <input type="text" class="form-control" id="product_name" name="Name">
                            </div>
                            <div class="mb-3">
                                <label for="product_amount" class="form-label">Amount</label>
                                <input type="number" class="form-control" id="product_amount" name="Amount">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row my-3">
                <div class="col-md-6 mx-auto">
                    <div class="card">
                        <div class="card-header">
                            <h5 class="card-title">Additional Fields</h5>
                        </div>
                        <div class="card-body" id="product-fields">

                        </div>
                    </div>
                </div>
            </div>
            <div class="row my-3">
                <div class="col-md-6 mx-auto">
                    <button type="button" class="btn btn-primary" onclick="addProductField()">Add Field</button>
                </div>
            </div>
            <div class="row my-3">
                <div class="col-md-6 mx-auto">
                    <button type="submit" class="btn btn-success">Add Product</button>
                </div>
            </div>
            {% csrf_token %}
        </form>
    </div>
    <script>
        var current_id = 1;
        function addProductField() {
            current_id = current_id + 1;
            var productFields = document.getElementById('product-fields');
            var newField = document.createElement('div');
            newField.className = "pf-element";
            newField.innerHTML = '<label class="form-label">Field name</label><input class="form-control pf-textinput" id="field_"+id type="text" oninput="update_name(this.id, this.value)">' +
                '<label class="form-label">Value:</label><input class="form-control pf-textinput" id="value_"+id type="text">' +
                '<button class="btn btn-danger" onclick="removeProductField(this)">Remove</button>';
            productFields.appendChild(newField);
        }
        function removeProductField(button) {
            var field = button.parentNode;
            field.parentNode.removeChild(field);
        }
        function update_name(field_id, value){
            var value_field = document.getElementById("field_" + field_id.split("_")[1]);
            value_field.setAttribute('name', value);
        }
    </script>
</body>
</html>